@charset "utf-8";

//マップ型変数breakpointsを定義
$breakpoints: (
    //キー　値
    'sm': 'screen and (max-width: 767px)',
    'md': 'screen and (min-width: 768px)',
    )!default;

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: md) {
    //map-get（マップ型変数、キーで値を取得
    @media #{map-get($breakpoints,$breakpoint)} {
        //この中をカスタムできる
        @content;
    }
}


@include mq(sm) {
    .is-pc {
        display: none;
    }
}

@include mq(md) {
    .is-sp {
        display: none;//スマホでは表示されるがPCでは表示されない
    }
}


body {
    font-size: 16px;
    font-family: "ヒラギノ明朝 ProN",serif;
    line-height: 1.6875;
    box-sizing: border-box;
    background: #fffdfa;
    color: #222222;
    
}

img {
    width: 100%;
}

.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;

    @include mq(sm) {
        padding: 0 15px;
    }
}



///* リセットCSS */
//* {
//    margin: 0;
//    padding: 0;
//    box-sizing: border-box;
//  }
  
 // ul,
 // li {
 //   list-style: none;
 // }
  
  /* 共通 */
  .common__section {
    padding: 100px 0;
    width: 100%;
    height: 650px;
  }
  
  .common__container {
    display: flex;
    margin: 0 auto;
    max-width: 900px;
    width: 80%;
  }
  
  .common__title {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0.05em;
  }
  
  /* アニメーションなしエリア */
  //.empty__container {
  ////  height: 900px;
  //}
  
  /* GSAP ScrollTriggerエリア */
  .side-scroll__section {
    background-color: #FFFCF3;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;/* はみ出た部分を隠しておく */
  }
  
  .side-scroll__itemOuter {
    position: relative;
    height: 700px;
    width: 100%;
    
  }
  
  .side-scroll__itemInner {
    position: absolute;
    top: 60px;
    left: 0;
    display: flex;
    gap: 0 60px;
  }
  
  .side-scroll__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
    height: 400px;
    width: 600px;
    
  }



  .concept {

    &__box {
      position: relative;
      padding-top: 340px;
      padding-bottom: 340px;
      display: flex; //追加
      align-items: center; //追加
      overflow: hidden; //追加
    }

    &__container {
      position: absolute;
      top: 46%;
      left: 50%;
      transform: translate(-50%,-50%);
      white-space: nowrap;
      width: 1450px;
      height: 700px;
      display: flex;
      align-items: center;
    }

    &__items {
    &-left {
     display: flex;
     width: 600px;
     justify-content: space-between;
    }
    &-right {
      display: flex;
      width: 600px;
      justify-content: space-between;
    }
    }

    &__center {
      height: 270px;
      margin: 0 auto;
      text-align: center;
    }

    &__item {
      width: 270px;
      height: 270px;
      border-radius: 50%;
      box-shadow: 0px 0px 8px 2px #ccc;
     // &:not(:first-child) {
     // margin-left: 40px;
     // }

      &-1 {
      background: url(../img/000.jpg)no-repeat center center / cover;
      }
      &-2 {
      background: url(../img/0a34a567ef095195ece76f4923d444ee_t.jpeg)no-repeat center center / cover;
      }
      &-3 {
      background: url(../img/41041f231ce90c4fd46de7de519109c5_t.jpeg)no-repeat left center / cover;
      }
      &-4 {
      background: url(../img/large.jpg)no-repeat right center / cover;
      }
    }

  }


   
  .category {
      width: 100%;
      height: 800px;
      background: #d9efbd;
      position: relative;

    &__container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate( -50%, -50% );
      width: 950px;
      height: 400px;
    }

    &__items {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      
      display: inline-block;
      width: calc(100% / 2);
      height: 200px;
      display: flex;
      &-name {
        position: relative;
        width: 50%;
        height: 100%;
        background: #fff;
      }
      &-p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate( -50%, -50%);
        color: #222222;
      }
      img {
        width: 50%;
        height: 100%;
        transition: .2s cubic-bezier(0.45, 0, 0.55, 1);


      }
    }

  
  }


   
  .c-btn,
  .c-bnr,
  .c-txt {
    cursor: pointer;
    transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
  }
   
  // ボタン基本コード
  .c-btn {
    //background: #ff701e;
    //border: 2px solid #ff701e;
    //border-radius: 60px;
    //color: #fff;
   // display: block;
    //font-weight: bold;
    //max-width: 300px;
    //padding: 15px 40px;
    //text-align: center;
  }
   



   
  .c-btn.slide {
    background: #fff;
    //color: #ff701e;
    overflow: hidden;
    position: relative;
    //z-index: 50;
  }
  .c-btn.slide::after {
    background: #ff701e;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
    //z-index: -1;
  }
  .c-btn.slide:hover {
    color: #fff;
  }
  .c-btn.slide:hover::after {
    transform: scale(1, 1);
  }
   
