@charset "utf-8";

//マップ型変数breakpointsを定義
$breakpoints: (
    //キー　値
    'sm': 'screen and (max-width: 767px)',
    'md': 'screen and (min-width: 768px)',
    )!default;

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: md) {
    //map-get（マップ型変数、キーで値を取得
    @media #{map-get($breakpoints,$breakpoint)} {
        //この中をカスタムできる
        @content;
    }
}


@include mq(sm) {
    .is-pc {
        display: none;
    }
}

@include mq(md) {
    .is-sp {
        display: none;//スマホでは表示されるがPCでは表示されない
    }
}

$text-color: #222222;

//#ebe7df,#d4cbc3,#c3bfa8,#a9b4ba

body {
    font-size: 16px;
    font-family:'PT Mono','Tahoma','Trebuchet MS', 'ヒラギノ明朝 ProN',sans-serif;
    line-height: 1.6875;
    box-sizing: border-box;
    background: #f5f5f5;
    color: $text-color;

    
}

img {
    width: 100%;
}

.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;

    @include mq(sm) {
        padding: 0 15px;
    }
}



.header {
  &__bg {
    padding: 25px;
    position: relative;
    background: url(../img/large-furniture-01-scaled.webp)no-repeat center center / cover;
    height: 550px;
  }

  &__logo {
    writing-mode: vertical-rl;
  

    &-sub {
      font-size: 12px;
      display: flex;
      align-items: flex-end;
      margin: 0 0 0 auto;
    }

    &-box {
      background: #fff;
      width: 203px;
      height: 125px;
      padding: 24px 27px 20px 26px;
      display: flex;
    }
  }

  &__title {
    writing-mode: vertical-rl;
    position: absolute;
    top: 20px;
    right: 272px;
    font-size: 30px;
  }

  &__nav {
    background: #edeae2;
    letter-spacing: 1.5px;

    &-list {
      display: flex;
      width: 800px;
      height: 45px;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
    }

    &-item {
      font-size: 14px;
      a {
      color: #706f6f;
      &:hover {
        color: $text-color;
      }
      }
    }
  }
}



.information {
  width: 100%;
  height: 500px;

&__container {
  width: 100%;
  height: 100%;
  position: relative;
}

&__items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
  width: 650px;
  height: 330px;
  display: flex;
  justify-content: space-between;
}

&__item {
  width: 300px;
  height: 330px;

}

&__time {
font-size: 12px;

}

&__title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 15px 0;
  font-family: 'ヒラギノ明朝 ProN',sans-serif;

}

&__text {
  width: 100%;
  font-family: 'ヒラギノ明朝 ProN',sans-serif;

}

&__btn {
width: 70px;
height: 29px;
border: 1px solid #1c1c1c;
color: $text-color;
border-radius: 6px;
font-size: 12px;
text-align: center;
padding: 5px 0;
margin: 20px 0 0 10px;
letter-spacing: 1.5px;


&:hover {
  background: #1c1c1c;
  color: #fff;
}
}
}






  
  /* 共通 */
  .common__section {
    padding: 100px 0;
    width: 100%;
    height: 650px;
  }
  
  .common__container {
    display: flex;
    margin: 0 auto;
    max-width: 900px;
    width: 80%;
  }
  
  .common__title {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0.05em;
  }
  
 
  
  /* GSAP ScrollTriggerエリア */
  .side-scroll__section {
    background-color: #ebe7df;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;/* はみ出た部分を隠しておく */
  }
  
  .side-scroll__itemOuter {
    position: relative;
    height: 700px;
    width: 100%;
    
  }
  
  .side-scroll__itemInner {
    position: absolute;
    top: 60px;
    left: 0;
    display: flex;
    gap: 0 60px;
  }
  
  .side-scroll__item {
    height: 400px;
    width: 600px;
    margin: 80px 40px 0;
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);


    &-text {
      font-size: 65px;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate( -50%, -50%);
      display: none;
      letter-spacing: 1.5px;
      font-weight: bold;
      width: 400px;
      text-align: center;

    }

    &:hover {
      .side-scroll__item-text {
        display: block;
      }
    }

    & * {
      -webkit-transition: all 0.3s ease-out;
     transition: all 0.3s ease-out;
    }

    & .border {
      position: absolute;
      opacity: 0.7;
      z-index: 1;
    }
    & .border:before,
    & .border:after,
    & .border div:before,
    & .border div:after {
      background-color: #10100f;
      position: absolute;
      content: "";
      display: block;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
    }
    & .border:before,
    & .border:after {
      width: 0;
      height: 2px;
    }
    & .border div:before,
    & .border div:after {
      width: 2px;
      height: 0;
    }
    & .border.one {
      left: -20px;
      top: -20px;
      right: 10px;
      bottom: 5px;
    }
    & .border.one:before,
    & .border.one div:before {
      left: 0;
      top: 0;
    }
    & .border.one:after,
    & .border.one div:after {
      bottom: 0;
      right: 0;
    }
    & .border.two {
      left: 10px;
      top: 5px;
      right: -20px;
      bottom: -20px;
    }
    & .border.two:before,
    & .border.two div:before {
      right: 0;
      top: 0;
    }
    & .border.two:after,
    & .border.two div:after {
      bottom: 0;
      left: 0;
    }
    
    &:hover .border:before,
    &.hover .border:before,
    &:hover .border:after,
    &.hover .border:after {
      width: 100%;
    }
    &:hover .border div:before,
    &.hover .border div:before,
    &:hover .border div:after,
    &.hover .border div:after {
      height: 100%;
    }

    &:hover {
      filter: grayscale(100%);
    }
    
 img {
    height: 400px;
    width: 600px;
  }
 
  }

 


  .concept {

    &__box {
      position: relative;
      padding-top: 340px;
      padding-bottom: 340px;
      display: flex; //追加
      align-items: center; //追加
      overflow: hidden; //追加
    }

    &__container {
      position: absolute;
      top: 46%;
      left: 50%;
      transform: translate(-50%,-50%);
      white-space: nowrap;
      width: 1650px;
      height: 700px;
      display: flex;
      align-items: center;
    }

    &__items {

    &-left {
     display: flex;
     width: 650px;
     justify-content: space-between;
    }
    &-right {
      display: flex;
      width: 650px;
      justify-content: space-between;
    }
    }

    &__center {
      position: relative;
      height: 270px;
      margin: 0 auto;
      text-align: center;

      &-img1 {
        position: absolute;
        width: 64px;
        top: 29px;
        left: -46px;
      }

      &-img2 {
        position: absolute;
        width: 70px;
        bottom: 75px;
        right: -46px;
      }
    }

    &__title {
      writing-mode: vertical-rl;
      margin-left: auto;
      margin-right: auto;
      margin-top: 25px;
      font-size: 18px;
    }

    &__btn {
      width: 139px;
      height: 34px;
      background: #1c1c1c;
      color: #fff;
      margin-top: 20px;
      font-size: 12px;
      padding: 7px 0;
      border-radius: 2px;
    }

    &__item {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      box-shadow: 0px 0px 8px 2px #ccc;


      &-1 {
      background: url(../img/000.jpg)no-repeat center center / cover;
      }
      &-2 {
      background: url(../img/0a34a567ef095195ece76f4923d444ee_t.jpeg)no-repeat center center / cover;
      }
      &-3 {
      background: url(../img/41041f231ce90c4fd46de7de519109c5_t.jpeg)no-repeat left center / cover;
      }
      &-4 {
      background: url(../img/large.jpg)no-repeat right center / cover;
      }
    }

  }


   
  .category {
      width: 100%;
      height: 800px;
      background: #c3bfa8;
      position: relative;

    &__container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate( -50%, -50% );
      width: 950px;
      height: 400px;
    }

    &__items {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
    }

    &__wrapper {
      width: 50%;
      position: relative;
      cursor: pointer;
      transition-duration: 0.6s;
      transition-timing-function: ease-in-out;
      transform-style: preserve-3d;
      z-index: 2;
      
    }

    &__card {
      width: 100%;
      position: relative;
      cursor: pointer;
      transition-duration: 0.6s;
      transition-timing-function: ease-in-out;
      transform-style: preserve-3d;
      z-index: 2;
    }
  
    &__front {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      backface-visibility: hidden;
      transform: rotateX(0deg);
      z-index: 2;
    } 

    &__back {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      backface-visibility: hidden;
      transform: rotateX(0deg);


      img {
        position: relative;
        width: 100%;
        height: 200px;
        filter: grayscale(100%);

        
      }

      &-p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate( -50%, -50% );
        color: $text-color;
        font-size: 80px;
        font-weight: bold;
        letter-spacing: 1.5px;
      }


    }  

 

    &__item {
      
      display: inline-block;
      height: 200px;
      width: 100%;
      display: flex;
 
      &-name {
      position: relative;
      width: 50%;
      height: 100%;
      background: #fff;
      
      }
      &-p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate( -50%, -50%);
      color: #222222;
      letter-spacing: 1.5px;
      }
      img {
        width: 50%;
        height: 100%;
      }
    }
  }

  .card-wrapper .card .front,
  .card-wrapper .card .back {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform: rotateX(0deg);

  }

  .card-wrapper .card .back,
  .card-wrapper.flip-right .card .back {
    transform: rotateY(180deg);
    transition: 4s;



  }
  .card-wrapper:hover .card,
  .card-wrapper.flip-right:hover .card {
    transform: rotateY(180deg);
    transition: 0.5s;

  }


  footer {
    height: 300px;
    width: 100%;

  .footer {
    &__container {
      max-width: 950px;
      margin: 0 auto;
      padding-top: 40px;
    }

    &__main {
      display: flex;
      
    }

    &__logo {
      writing-mode: vertical-rl;
      font-size: 30px;
      padding-right: 30px;
      line-height: 1;
      letter-spacing: 2px;
    }

   &__box {
    width: 100%;
   }

    &__nav {
      margin-top: 14px;
      display: flex;
      width: 100%;
      justify-content: flex-end;

      a {
        &:not(:last-child) {
        padding-right: 24px;
        }
      }

      &-item {
        border-left: 1px solid #444242;
        line-height: 1;
        color: $text-color;

        font-size: 14px;
        letter-spacing: 2px;
        padding-left: 24px;

      }
    }

    &__contact {
      margin-top: 97px;
      height: 50px;
      display: flex;
      justify-content: space-between; 
      align-items: center;    
      line-height: 1.3; 
      letter-spacing: 2px;


      &-p {
        font-size: 12px;
        font-weight: bold;
        padding: 13px 0;
      }
      &-telBox {
        width: 335px;
        display: flex;
      }

      &-tel {
        font-weight: bold;
        font-size: 30px;
        margin-left: 10px;
        padding: 9px 0;
      }
   
      &-mailBox {
        width: 245px;
        display: flex;
        justify-content: flex-end;
      }
      &-mail {
        width: 150px;
        height: 47px;
        background: #1c1c1c;
        color: #fff;
        border-radius: 2px;
        text-align: center; 
        padding: 15px 0;
        margin-left: 10px;    
        box-shadow: 0px 0px 8px 2px #ccc;
 
      }
    }

    &__sub {
      margin-top: 40px;
      display: flex;
      height: 140px;
      width: 100%;
      border-top: 1px solid #d4d2d2;
      border-bottom: 1px solid #d4d2d2;
  
      &-container {
        width: 950px;
        margin: 40px auto 0;
        display: flex;

      }
  

      &-navList-1{
        display: flex;
        a {
          &:not(:first-child) {
            border-left: 1px solid #444242;
              padding-left: 24px;
              }
          }
      }
      &-navList-2{
        margin-top: 30px;
        display: flex;
        a {
          &:not(:first-child) {
            border-left: 1px solid #444242;
              padding-left: 24px;
              }
          }
        }
      

      &-navItem {
        line-height: 1;
        color: $text-color;
        padding-right: 24px;
        font-size: 14px;

      }

      &-icon {
        width: 174px;
        display: flex;
        justify-content: flex-end;
      }



      &-blog {
        color: #fff;
        background-color: $text-color;
        width: 47px;
        height: 47px;
        border-radius: 50%;
        margin-left: 20px;
        font-size: 12px;
        text-align: center;
        padding: 15px 0 15px;
      }
    }
  }
}
  
.copyright {
text-align: center;
padding: 10px 0;
}

   .fa-caret-right {
    margin-left: 15px;
    margin-right: -30px;
   }



/*----------------------------
scroll_up ｜下から上へ出現
----------------------------*/
.scroll_up {
  transition: 0.8s ease-in-out;
  transform: translateY(30px);
  opacity: 0;
}
.scroll_up.on {
  transform: translateY(0);
  opacity: 1.0;
}


//.fadeup {
//  animation: fadeup 1s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
//}
// 
//@keyframes fadeup {
//  0% {
//    transform: translateY(30px);
//    opacity: 0;
//  }
//  80% {
//    opacity: 1;
//  }
//  100% {
//    opacity: 1;
//    transform: translateY(0);
//  }
//}


